* {
	text-decoration: none;
}

body {
	font-family: Arial, serif;
	background-image: url(candy.jpg);
	color: darkslateblue;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	<div style="background-image: url('picture_candy.jpg');">

}

h1 {
	font-weight: bolder;
	font-size: 40 px;
	font-family: Helvetica, sans-serif;
	color: bordeaux;

}

img {
	border-radius: 50px;
	width: 250px;
	height: 250px;
}

h2{
	font-weight: 700;
	color: darkred;
}


ul li a {
	color: black;
	text-decoration: none;
	padding: 10px;
	

}

ul {
	list-style: none;
	padding-inline-start:  0px;
	margin-top: 20px;
	display: flex;
    justify-content: center;

}
ul li{
	padding: 0 10px;
}

.box{
	box-sizing: border-box;
	width: 50%;
	border: solid darkred; 5px;
	box-shadow: 10px 10px 10px black;
	padding: 5px;
	background-color: #f8f8ffbd;
	margin: 45px auto;
	border-radius: 20px;

}

.btn-blue{
	box-sizing: border-box;
	margin: 15px 25%;
	background-color: darkred;
	padding: 15px;
	border-radius: 10px;
	color:  wwhite;
}

.btn-blue:hover{
	background-color: blueviolet;

}

.link{
	color: whitesmoke;
}

@media (max-width: 1200px) {

	iframe {max-width: 300px;
		max-height: 150px;
	}

}

@media (max-width: 800px) {

	iframe {
		max-width: 200px; 
		max-height: 100px;
	}

	img {
		max-width: 75px;
		max-height: 75px;
	}

}